
body.Home {
	margin-top: 0;
}

.Home [class ^="layout-module--content--"], 
.Home [class ^="layout-module--container--"] {
	max-width: none;
}

.Home .layout-module--container--3BoYY {
	padding: 0;
}

.home #hero {
    z-index: 100;
    background-color: #242424;
    position: relative;
    line-height: 0;
    width: 100vw;
    margin: 0;
}

.Home #columns .wrap {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.Home .column #contact-home {
    font-size: 1rem !important;
    background: #eee;
    text-align: center;
    display: block;
    height: 204px;
    align-items: center;
}

#sidebar-footer {
    display: flex;
}

#sidebar-footer h4.widget-title {
    color: #1c1c1c;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-family: 'Raleway';
    font-style: normal;
}

#sidebar-footer #columns {
    display: flex;
    justify-content: center;
    margin: auto;
}

.Home #sidebar-footer  #columns .column {
    width: 300px;
    float: left;
    margin-right: 25px;
}
