/* =Tiled Gallery Default Styles
-------------------------------------------------------------- */
body.single-portfolio .entry-content,
body.single-portfolio .entry-header {
  width: 100%;
}

body.single-portfolio .entry-content {
  max-width: 980px;
}

.entry-content {
  max-width: 980px;
}

[class ^="layout-module--content--"] {
  max-width: 981px;
  margin: auto;
  min-width: 100%;
}

[class ^="layout-module--container--"] {
  max-width: none !important;
}

.tiled-gallery {
  clear: both;
  margin: 0 0 20px;
  overflow: hidden;
	width: 980px;
}

.tiled-gallery img {
  margin: 2px !important;
  /* Ensure that this value isn't overridden by themes that give content images blanket margins */
}

.tiled-gallery .gallery-group {
  float: left;
  position: relative;
}

.tiled-gallery .tiled-gallery-item {
  float: left;
  margin: 0;
  position: relative;
  width: inherit;
  /* prevents ie8 bug with inline width styles */
}

.tiled-gallery .gallery-row {
  overflow: hidden;
}

.tiled-gallery .tiled-gallery-item a {
  /* Needs to reset some properties for theme compatibility */
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: auto;
}

.tiled-gallery .tiled-gallery-item img,
.tiled-gallery .tiled-gallery-item img:hover {
  /* Needs to reset some properties for theme compatibility */
  background: none;
  border: none;
  box-shadow: none;
  max-width: 100%;
  padding: 0;
  vertical-align: middle;
}

.tiled-gallery-caption {
  /* Captions */
  background: #eee;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  text-indent: 10px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.tiled-gallery .tiled-gallery-item-small .tiled-gallery-caption {
  /* Smaller captions */
  font-size: 11px;
}

/* Hide galleries in widgets until they've been resized to fit.
   Gallery widgets are almost guaranteed to need resizing, and
   the jump is a little more obvious than galleries in content. */
.widget-gallery .tiled-gallery-unresized {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

/* =Greyscale
-------------------------------------------------------------- */

.tiled-gallery .tiled-gallery-item img.grayscale {
  position: absolute;
  left: 0;
  top: 0;
}

.tiled-gallery .tiled-gallery-item img.grayscale:hover {
  opacity: 0;
}


/* =Circles Layout
-------------------------------------------------------------- */

.tiled-gallery.type-circle .tiled-gallery-item img {
  border-radius: 50% !important;
  /* Ensure that circles are displayed in themes that add border-radius to all images as a default */
}

.tiled-gallery.type-circle .tiled-gallery-caption {
  display: none;
  opacity: 0;
}

.wow {
  border: 0 none transparent !important;
}

.wow img {
  width: 100%;
}



.lightbox-box {
  position: fixed;
  top: 0;
  height: 0;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background: rgba(119, 119, 119, .75);
  animation: fancy-in .3s cubic-bezier(0.1, -0.6, 0.2, 0) reverse;
}

.lightbox-box img {
  /* animation: fancy-in .35s ease-in forwards; */
  /* animation-direction: reverse; */
}

.lightbox-box.inactive {
  /* animation: fancy-in .3s cubic-bezier(0.1, -0.6, 0.2, 0) reverse; */
  transform: scale(0);
}

@keyframes fancy-in {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.lightbox-box.active {
  width: 100vw;
  height: 100vh;
}

.lightbox-box.active img {
  width: auto !important;
  height: auto !important;
  border: 10px #fff solid;
  box-shadow: 0 0 20px #111;
  max-height: 84vh;
  max-width: 94vw;
  animation: fancy-in .35s ease-in forwards;
  border-radius: 50%;
}


@media (max-width: 1080px) {
  .tiled-gallery {
    transform: scale(.9) translateY(-5%);
    overflow: visible;
		margin-bottom: -10%;
  }
}

@media (max-width: 1010px) {
  .tiled-gallery {
    transform: scale(.8) translateY(-8%);
		margin-bottom: -15%;
  }
}

@media (max-width: 949px) {
  .tiled-gallery {
    transform: scale(.75) translateY(-8%);
		margin-left: -7%;
		margin-bottom: -25%;
  }
}

@media (max-width: 875px) {
	.tiled-gallery {
		transform: scale(.65) translateY(-18%);
		margin-left: -11%;
		margin-bottom: -40%;
	}
}

@media (max-width: 799px) {
	.tiled-gallery {
		transform: scale(.65) translateY(-23%);
    margin-left: -18%;
		margin-bottom: -50%;
	}
}


@media (max-width: 749px) {
	.tiled-gallery {
		transform: scale(.5) translateY(-45%);
		margin-left: -28%;
		margin-bottom: -80%;
	}
}

@media (max-width: 649px) {
	.tiled-gallery {
		transform: scale(.5) translateY(-45%);
    margin-left: -38%;
		margin-bottom: -90%;
	}
}


@media (max-width: 589px) {
	.tiled-gallery {
		transform: scale(.45) translateY(-55%);
    margin-left: -48%;
		margin-bottom: -110%;
	}
}


@media (max-width: 530px) {
	.tiled-gallery {
    margin-left: -60%;
		margin-bottom: -120%;
	}
}
@media (max-width: 480px) {
	.tiled-gallery {
		transform: scale(.35) translateY(-85%);
    margin-left: -78%;
    margin-bottom: -160%;
	}
}
@media (max-width: 430px) {
	.tiled-gallery {
		transform: scale(.3) translateY(-115%);
    margin-left: -92%;
    margin-bottom: -195%;
	}
}

@media (max-width: 390px) {
	.tiled-gallery {
		transform: scale(.27) translateY(-135%);
    margin-left: -102%;
    margin-bottom: -220%;
}
}

@media (max-width: 355px) {
	.tiled-gallery {
		transform: scale(.27) translateY(-135%);
    margin-left: -112%;
    margin-bottom: -248%;
}
}


